@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  
}
body{
 background:  #9FBACD;
}
.body{
  background: #9FBACD;
}
.box{

    border: 1px  solid #888888;
    padding: 10px;
    box-shadow: 1px 5px #888888;  
}
.div_background_dark{
  background-color: #0a131c !important;
}