@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;800;900&family=Reem+Kufi+Ink&display=swap');


body{
  background:  #9FBACD;
}
.logo{
  width:22%;
  height:8vh;
}

.navbar{
  background:  #9FBACD;
  border-bottom: 2px solid white;
  /* height: 100px; */
}
 .navbar-brand {
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-item {
  font-family: 'Gothic A1', sans-serif;
  font-size: 15px;
  /* font-weight: bolder; */
  /* text-shadow: 2px 2px 2px rgba(49, 44, 44, 0.767); */
}
.nav-item:hover {
  background-color: rgb(23, 171, 201);
  border-radius: 50px;
}

.nav-link{
  border-radius: 10px;
}

.footer-banner {
  background-color: #2E313A;
}


#imagesec{
  background: #9FBACD;
}

 
/* QUICKTIPS----------------------------------------------------------------------------- */
 
.vnav-item {
  background-color: rgba(255, 255, 255, 0.079);
}

/* Style the tab Login FOrm --------------------------------------------------------------*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #278cb4;
  width: 50%;
}

/* Button */
.bg-button{
  background:#EA6D52;
}
.bg-blue{
  background: #034D73;
}
/* .text{
  
  font-style: 'Gothic A1', sans-serif;
} */

.c-blue{
  color: #034D73;
}
.c-darkblue{
  color: #030552;
}

/*Css PROFILE-------------------------------------------------------------------------------*/
.labels{
  color: white;
}
.blue{
  background: #008ae6;
}

.profilebg{
  background-color: rgba(255, 255, 255, 0.156);
  border-radius: 10px;
}

/*Css Image View-------------------------------------------------------------------------------*/
.imgview{
  box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.imgview:hover{
  box-shadow:0 20px 30px 0 skyblue;
}
.img-responsive{
  width: 100%;
  
}
.img-responsive:hover{
  box-shadow:0 1px 4px 10px #75b3dd;
  
}
.img-body{
  background-color: rgba(255, 255, 255, 0.549);
  border-radius: 10px;
}
/*Css ANNOUNCEMENT-------------------------------------------------------------------------------*/
.container-width{
  width:100%;
  max-width:1150px;
  margin:0 auto;
}
.flex-sect{
  background-color:white;
  padding:50px 0;
  font-family:Helvetica, serif;
}
.flex-title{
  margin-bottom:15px;
  font-size:2em;
  text-align:center;
  font-weight:700;
  color:#555;
 /* padding:5px;*/
}
.flex-desc{
  margin-bottom:55px;
  font-size:1em;
  color:rgba(0, 0, 0, 0.5);
  text-align:center;
  padding:5px;
}
.cards{
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}
.card{
  background-color:white;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}
.card:hover{
  margin-top:-5px;
  box-shadow:0 20px 30px 0 skyblue;
}


/*Css for Footer---------------------------------------------------------------------------------------*/
.text{
  color: white;
}

.footer-banner{
  background-color: #00061a;
 
}

.text h1, .text p{
  text-align: center;

}
.follow{
  font-size: 20px;
  color: yellow;
}